<div>
  <ul>
    <li><a class="active" routerLink="/">Home</a></li>
    <li><a routerLink="/createStaff">Create Staff</a></li>
    <li><a routerLink="/createOffice">Create Office</a></li>
    <li><a routerLink="/createProject">Create Project</a></li>
    <li><a routerLink="/createUserStory">Create Userstory</a></li>
    <li><a routerLink="/createTask">Create Task</a></li>
    <li><a routerLink="/createSubtask">Create Subtask</a></li>

    <li><a routerLink="/viewOffice/:id">Office</a></li>
    <li><a routerLink="/viewStaff/:id">Staff</a></li>
    <li><a routerLink="/listOffice/:id">List of Office</a></li>
    <li><a routerLink="/listStaff/:id">List of Staff</a></li>
    <li><a routerLink="/projectManage/:id">Project Management</a></li>
    <li><a routerLink="/viewProject/:id">Project</a></li>
    <li><a routerLink="/viewUserStory/:id">Userstory</a></li>
    <li><a routerLink="/viewTask/:id">Task</a></li>
    <li><a routerLink="/viewSubtask/:id">Subtask</a></li>



  </ul>
</div>