<div class="bg">
  <div class="dropdown">
    <a class="dropbtn" routerLink="/">Home</a>
</div>
<div class="dropdown dropdown1">
      <a class="dropbtn" routerLink>Create</a>
    <!-- <li><a routerLink="/viewOffice/:id">Office</a></li> -->
    <!-- <li><a routerLink="/viewStaff/:id">Staff</a></li> -->

    <!-- <li><a routerLink="/viewProject/:id">Project</a></li> -->
    <!-- <li><a routerLink="/viewUserStory/:id">Userstory</a></li> -->
    <!-- <li><a routerLink="/viewTask/:id">Task</a></li> -->
    <!-- <li><a routerLink="/viewSubtask/:id">Subtask</a></li> -->

    <div class="dropdown1-content">
      <a routerLink="/createStaff">Create Staff</a>
      <a routerLink="/createOffice">Create Office</a>
      <a routerLink="/createProject">Create Project</a>
      <a routerLink="/createUserStory">Create Userstory</a>
      <a routerLink="/createTask">Create Task</a>
      <a routerLink="/createSubtask">Create Subtask</a>
   
  </div>
</div>
<div class="dropdown">
        <a class="dropbtn" routerLink="listOffice">Office</a>
  </div>
  <div class="dropdown">
      <a class="dropbtn" routerLink="listStaff">Staff</a>
</div>
<div class="dropdown">
    <a class="dropbtn" routerLink="projectManage">Project Management</a>
</div>
</div>