<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="https://vtv1.mediacdn.vn/zoom/550_339/2019/3/31/crop-1510476088701-15540406457562031932751.jpg"
            style="width:100%">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2 class="name">{{ office.officeName }}</h2>
          </div>
        </div>

      </div><br>

      <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">Personal Profile</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Office Name</b></h5>
          <p>{{ office.officeName }}</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Office ID</b></h5>
          <p>{{ office.officeManagerId }}</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Office Room</b></h5>
          <p>{{ office.officeNumber }}</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Office's Field</b></h5>
          <p>{{office.officeField}}</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Phone Number</b></h5>
          <p>{{office.phoneNumber}}</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Office Manager</b></h5>
          <p>{{ office.officeManagerId }}</p><br>
        </div>
      </div>



      <!-- End Right Column -->
    </div>

    <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>