<app-menu-user-story [listMenu]="listMenu"></app-menu-user-story>
<div>
    <h2>Project</h2>
    <details>
        <summary>Name of Project: {{project.nameOfProject}}</summary>

        <span>The Commencing Day: {{ project.startDate }}</span><br>
        <span>The Ending Day: {{ project.endDate }}</span><br>
        <span>Deadline: {{ project.deadline }}</span><br>
        <span>Description: {{ project.description }}</span><br>
        <span>Office: {{ project.responsibleOffice }}</span><br>

    </details>
</div>