<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="https://vtv1.mediacdn.vn/zoom/550_339/2019/3/31/crop-1510476088701-15540406457562031932751.jpg" style="width:100%" >
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2 class="name">{{ staff.name }}</h2>
          </div>
        </div>
        
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
     <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">Personal Profile</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Name</b></h5>
          <p>{{ staff.name }}</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Age</b></h5>
          <p>{{ staff.age }}</p>          
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Phone Number</b></h5>
          <p>{{ staff.phoneNumber }}</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Date of Birth</b></h5>
          <p>{{staff.dateOfBirth}}</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Gender</b></h5>
          <p>{{staff.gender}}</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Email</b></h5>
          <p>{{ staff.email }}</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Address</b></h5>
          <p>{{ staff.address }}</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Office</b></h5>
          <p>{{ staff.workFor }}</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Position</b></h5>
          <p>{{ staff.position }}</p><br>
        </div>
      </div>


      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>


