<app-menu-user-story [listMenu]="listMenu"></app-menu-user-story>
<div class="w3-container">
  <h2>User Story</h2>
  <ul class="w3-ul w3-card-4">
    <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'"
        class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <img src="img_avatar2.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
      <details>
        <summary>Name of Event: {{userStoryDetail.nameOfEvent}}</summary>
        <div class="w3-bar-item">
          <span>The Commencing Day: {{ userStoryDetail.startDate }}</span><br>
          <span>The Ending Day: {{ userStoryDetail.endDate }}</span><br>
          <span>Deadline: {{ userStoryDetail.deadline }}</span><br>
          <span>Description: {{ userStoryDetail.description }}</span><br>
          <span>Office: {{ userStoryDetail.responsibleOffice }}</span><br>
        </div>
      </details>
    </li>
    <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'"
        class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <img src="img_avatar2.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
      <details>
        <summary>Name of Event: {{userStoryDetail.nameOfEvent}}</summary>
        <div class="w3-bar-item">
          <span>The Commencing Day: {{ userStoryDetail.startDate }}</span><br>
          <span>The Ending Day: {{ userStoryDetail.endDate }}</span><br>
          <span>Deadline: {{ userStoryDetail.deadline }}</span><br>
          <span>Description: {{ userStoryDetail.description }}</span><br>
          <span>Office: {{ userStoryDetail.responsibleOffice }}</span><br>
        </div>
      </details>
    </li>
    <li class="w3-bar">
      <span onclick="this.parentElement.style.display='none'"
        class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
      <img src="img_avatar2.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
      <details>
        <summary>Name of Event: {{ userStoryDetail.nameOfEvent }}</summary>
        <div class="w3-bar-item">
          <span>The Commencing Day: {{ userStoryDetail.startDate }}</span><br>
          <span>The Ending Day: {{ userStoryDetail.endDate }}</span><br>
          <span>Deadline: {{ userStoryDetail.deadline }}</span><br>
          <span>Description: {{ userStoryDetail.description }}</span><br>
          <span>Office: {{ userStoryDetail.responsibleOffice }}</span><br>
        </div>
      </details>
    </li>


  </ul>
  <input type="button" name="create" value="create" class="create" routerLink="/createUserStory">
</div>